html{
    /* background: url('../img/frog_regular.png') no-repeat center center fixed;  */
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                  url("../img/potato.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

button{
    font-size: 1.6rem;
}

/* @media all and (min-width: 1080px){
    body{
        overflow: hidden;
    }
} */

table{
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border-spacing: 0.3rem;
}

td {
    border: 2px solid rgb(80, 80, 80);
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    background-color: beige;
}

h1{
    font-size: 4rem;
    margin: 0.2rem 1rem;
}

#seasons-table{
    table-layout: fixed;
    width: 75%;
}

#challenges{
    width: 100%;
    table-layout: fixed;
    border-spacing: 0.5rem;
}

#challenges td{
    height: 4rem;
    padding: 0 10px;
    font-size: 0.95rem;
}

.main-div{
    display: flex;
    flex-direction: row;
}

.first-col-div{
    width: 50%;
    /* height: 100vh; */
    text-align: center;
}

.second-col-div{
    width: 50%;
    /* height: 100vh; */
    padding: 0.8rem;
}

.hover{
    background-color: gray;
}

.mountain{
    background-color: #b37a4f;
}

.farm{
    background-color: #ffff52;
}

.forest{
    background-color: #3b7c48;
}

.water{
    background-color: #5787bf;
}

.town{
    background-color: #b75353;
}

.element-time-text{
    font-size: 2rem;
}